body {
  background-color: var(--bg);
  font-family: 'Gugi', sans-serif;
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #0745ff;
}



.App {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  text-align: center;
  z-index: 2;
  background-color: transparent;
}

.startInformation {
  background-color: var(--boxInformationBg);
  width: var(--initialBoxInformationWidth);
  height: var(--initialBoxInformationHeight);
  border: var(--outerBordersize) solid var(--borderColor);
  padding: .625rem;
  margin: auto;
  margin-top: 10px;
  border-radius: var(--externalRoundedEdge);
  box-shadow: 5px 5px var(--borderColor);
}

.information {
  background-color: #6c33f5;
  width: 100%;
  border-radius: var(--externalRoundedEdge);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-block: 15px;
}

.link {
  color: #FFFFFF;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: var(--fontSize);
  text-decoration: underline;
  margin: 0;
}

.information .textWait {
  margin: 0;
}

.information .turnBox {
  margin: 0;
}

.viewPlayers {
  width: 98%;
  margin: auto;
  margin-top: 0px;
  padding-bottom: 5px;
  display: flex;
  flex-wrap: wrap-reverse;
}

.viewPlayers .manyBoards .information .subTitle {
  color: #bcf533;
}

.viewPlayers .manyBoards .information .circleTriangles {
  background-color: #131212;
}

.viewPlayers .manyBoards .information .circleTriangles>label {
  color: #bcf533;
}

.viewPlayers .manyBoards .boardContainer .information {
  background: transparent;
}

.boardContainer .subTitle{
  font-size: 15px;
  position: relative;
  bottom: 5px;
}

.viewPlayers .manyBoards .boardContainer {
  background-color: #000;
  border: 3px solid #bcf533;
}

.menu {
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  overflow: hidden;
}

.menu>button {
  border-radius: var(--internalRoundedEdge);
  border: 3px solid #bcf533;
  background-color: black;
  font-size: 40px;
  height: 25rem;
  color: white;
}


.menu > button:hover {

  color: #bcf533;
  text-decoration: underline;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}