body{
  background-color: var(--bg);
  font-family: 'Gugi', sans-serif;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.startInformation{
  background-color: var(--boxInformationBg);
  width: var(--initialBoxInformationWidth);
  height: var(--initialBoxInformationHeight);
  border: var(--outerBordersize) solid var(--borderColor);
  padding: .625rem;
  margin: auto;
  margin-top: 10px;
  border-radius: var(--externalRoundedEdge);
  box-shadow: 5px 5px var(--borderColor);
}

.information{
  background-color: #6c33f5;
  width: 100%;
  border-radius: var(--externalRoundedEdge);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information label{
    color: #FFFFFF;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: var(--fontSize);
    text-decoration: underline;

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
