.boxContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 5px;
  height: var(--boxBoardHeight);
}

.circle {
  display: flex;
  align-items: center;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: var(--internalRoundedEdge);
  border: none;
  background-color: var(--boxColorCircle);
  box-shadow: 3px 3px #0000006f;
}

.textCircle {
  text-transform: uppercase;
  font-size: var(--fontSize);
  color: var(--fontColorCircleBoard);
  font-weight: 600;
  user-select: none;

}

.btnCirle,
.btnRed,
.btnBlue {
  display: flex;
  align-items: center;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: var(--internalRoundedEdge);
  border: none;
  background-color: white;
  box-shadow: 3px 3px #0000006f;
}

.btnCirle:active {
  background-color: rgb(255, 115, 0);
}



.btnRed {
  border: none;
  box-shadow: inset 0px 0px 3px 3px #00000056;
  background-color: #a0213b;
}


.btnBlue label,
.btnRed label {
  color: var(--fontColorActionBtnCircle);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}


.btnBlue {
  border: none;
  box-shadow: inset 0px 0px 3px 3px #00000056;
  background-color: #00a6ed25;
}

.boxContainer .btnCirle {
  font-family: inherit;
}

.turnBox {
  background-color: #F6e10d;
  padding-block: 10px;
  padding-inline: 5px;
  border-radius: 20px;
  font-size: 18px;
  border-radius: var(--internalRoundedEdge);
}