.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding-bottom: 20px;
}



.title {
    color: var(--fontColor);
    font-family: 'Aldrich', sans-serif;
    width: 100%;
    justify-content: center;
    border-bottom-left-radius: var(--externalRoundedEdge);
    border-bottom-right-radius: var(--externalRoundedEdge);
    color: #fff;
    font-weight: bolder;
    margin: 0px;
}

.subTitle {
    color: var(--fontColor);
    text-transform: capitalize;
    font-size: 18px;
}



.boardContainer {
    background-color: var(--boardContainerBg);
    padding: 10px;
    overflow: hidden;
    border-radius: var(--externalRoundedEdge);
    border: var(--outerBordersize) solid var(--borderColor);
    box-shadow: 5px 5px var(--borderColor);
}


.divColumn {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3125rem;
}

.layout_1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.layout_1 .boxContainer {
    width: var(--widthLayout_1Board);
}

.layout_1 .containerShip_size {
    width: var(--widthLayout_1Board);

}

.manyBoards {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: var(--externalRoundedEdge);
    gap: 30px;

}

.manyBoards>div:first-child {
    background-color: #f5335b;
}

.manyBoards>div {
    flex: 1;
}

.textWait {
    color: var(--fontColorWait);
}


.textblink {
    animation: blink 1.4s infinite alternate;

}

.circleTriangles {
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: var(--externalRoundedEdge);
    border: var(--outerBordersize) solid var(--borderColor);
    box-shadow: 5px 5px var(--borderColor);
    background-color: #ffda37;
    min-width: 329px;
    gap: 10px;
    padding-top: 10px;
}

.circleTriangles>label {
    font-size: 18px;
}

.points {
    background-color: #593a00;
    width: auto;
    margin: auto;
    margin-block: 0;
    padding: 10px;
    border-radius: var(--internalRoundedEdge);
    color: #fff;
}

.yourTurn {
    width: 100%;
    padding-block: 10px;
    background-color: #dab513;
    border-top: var(--outerBordersize) dashed #593a00;
    font-weight: 600;
}

.information .title {
    color: #593a00;
}

.winner {
    color: #ffda37;
    background-color: #593a00;
}


.watchGameBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.watchGameBox>h1 {
    color: white;
}

.watchGameButtonYes {
    border-radius: var(--internalRoundedEdge);
    border: 3px solid #bcf533;
    background-color: #000000;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 30px;
    width: 55%;

}

.watchGameButtonNo {
    border: 3px solid #f5335b;

}

.watchGameButtonYes:hover {
    transform: translate(0px, -10px);

}

.watchGameButtonNo:hover {
    transform: translate(0px, 0px);
}

.watchGameButtonYes>ul {
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
}


.watchGameButtonYes>ul>li {
    list-style: none;
    color: white;
    margin-inline: 5px;
    font-family: 'Aldrich', sans-serif;

}

.watchGameButtonYes>ul>li>label {
    color: #bcf533;
    margin-right: 5px;
    font-family: 'Aldrich', sans-serif;
}


.watchGameButtonNo>ul>li>label {
    color: #f5335b;
    margin-right: 5px;
    font-family: 'Aldrich', sans-serif;
}

.manual {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    border-top: var(--outerBordersize) #e2dede77 solid;
    gap: 20px;
}

.manualComponent button {
    border: none;
    background-color: #000;
    height: 30px;
    width: 80%;
    border-radius: var(--internalRoundedEdge);
    font-size: var(--fontSize);
    color: white;
    margin-block: 10px;
    margin-bottom: 5px;
}

.manualComponent button:active {
    background-color: #5f3cf0;
}


.manualComponent {
    padding-block: 5px;
    border-radius: var(--internalRoundedEdge);
    border: var(--outerBordersize) var(--borderColor) solid;
    background-color: #fff;
    box-shadow: 3px 3px var(--borderColor);

}

.optionalBox {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    overflow: hidden;
    border-radius: var(--internalRoundedEdge);
    font-size: var(--fontSize);
    height: 30px;
}

.optionalBox label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding-left: 5px;

}

.optionalBox select {
    height: 100%;
    background-color: transparent;
    font-size: var(--fontSize);
    border: none;
    border-left: 3px solid var(--borderColor);
    outline: none;
}

.optionalBox option {
    background-color: black;
    color: white;
}

.typeGeneration{
    display: flex;
    flex-direction: column;
}

.typeGenerationBtn {
    border: none;
    margin: 5px;
    border-radius: var(--internalRoundedEdge);
    height: 40px;
    font-size: var(--fontSize);
    color: #fff;
    background-color: #000;
    padding: 10px;
}

.typeGenerationBtn:active{
    background-color: #212121;
}




@keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}