.ship_size {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: var(--shipComponentSize);
    padding-block: 5px;
    width: 100%;
    overflow: hidden;
}

.ship_size label {
    font-size: var(--fontSize);
    text-transform: capitalize;
    text-align: left;
    display: flex;
    align-items: center;
    color: var(--fontColor);
}

.nShip {
    display: flex;
    gap: .3125rem;
}



.nShip div {
    width: var(--shipComponentSize);
    height: var(--shipComponentSize);
    border-radius: calc(var(--shipComponentSize)/3);
    background-color: black;
}