.boxContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 5px;
    width: 100%;
    height: var(--boxBoardHeight);
  }
  
  .box {
    display:  flex;
    align-items: center;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--boxColorCircle);
    box-shadow: 3px 3px #0000006f;

  }

  .box label{
    text-transform: uppercase;
    color: var(--fontColorCircleBoard);
    font-weight: 600;
    user-select: none;

  }

