.inputBox {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: var(--inputComponetSize);
    height: var(--inputBoxHeight);
    font-size: var(--fontSize);
    overflow: hidden;
    border-radius: var(--internalRoundedEdge);
    border: var(--innerBorderSize) solid var(--borderColor);
    background-color: var(--inputBoxBg);
}

.inputBox input {
    font-size: inherit;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--fontColorInput);
}

.separator {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.opt {
    grid-template-columns: 100%;

}

.opt>select {
    font-size: inherit;
    outline: none;
    border: none;
    background-color: transparent;
}

.send {
    font-size: inherit;
    border: none;
    font-weight: 900;
    font-size: 30px;
    background-color: #f96c95;
    color: #ffffff;
}

.inputBox .send:active {

    background-color: #ae4c68;
}

.keep {
    margin: auto;
    width: 70%;
    height: 45px;
    border-radius: var(--internalRoundedEdge);
    font-size: 20px;
    font-weight:500;
}